[class~=header] h2, body, h2 {
    margin-left: 0;
}

[class~=header] h2 {
    color: var(--tertiary);
    background-color: var(--secondary);
}

:root {
    --primary: rgb(68, 80, 119);
    --secondary: rgba(146,204,206,1);
    --tertiary: rgba(49,52,61,1);  
    --dark: rgba(28,29,33,1);  
    --light: #101720;
}

body, [class~=header] h2 {
    margin-bottom: 0;
}

[class~=header] h2, body {
    margin-right: 0;
    margin-top: 0;
}

nav a:hover {
    background-size: 100% 100%;
}


[class~=header] div {
    flex: 0 0 90%;
}

[class~=header] {
    background: #445878;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--light);
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    justify-content: flex-end;
    align-items: flex-end;
}

body {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    font-family: "Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;
    background-color: var(--light);
    line-height: 1.5;
}

nav a:hover, body {
    color: var(--primary);
}

[class~=header] h2 {
    padding-left: .104166667in;
    padding-right: .104166667in;
    padding-bottom: .3125pc;
    padding-top: 3.75pt;
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
}

nav a:last-child {
    margin-right: 0;
}

h3 {
    margin-left: 0;
}

[class~=page-section], [class~=header] {
    display: flex;
}

[class~=page-section] > h2, [class~=header] {
    text-align: right;
}

[class~=page-wrapper] {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

h3, [class~=page-section], p, h2 {
    margin-right: 0;
}

[class~=page-section] {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 0;
    padding-bottom: .625pc;
    padding-right: 0;
    padding-top: .625pc;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

[class~=page-section] > h2 {
    flex: 0 0 20%;
    padding-right: 15px;
    font-size: 4vw;
    border-right-width: 3pt;
    border-right-style: solid;
    border-right-color: var(--primary);
    border-image: none;
}

[class~=contact] address a, nav a {
    padding-bottom: .052083333in;
}

h2, h3 {
    margin-bottom: 0;
    margin-top: 0;
}

[class~=contact] address a:hover {
    background-size: 100% 88%;
}

nav a, [class~=contact] address a:hover {
    color: var(--secondary);
}


[class~=flex-item] div, nav a {
    padding-left: .104166667in;
    padding-right: .104166667in;
}

[class~=flex-container],[class~=page-section] {
    flex-wrap: wrap;
}

nav a, [class~=contact] address a {
    padding-top: 5px;
}

nav a {
    text-decoration: none;
    margin-right: .104166667in;
    background-size: 100% .2em;
    background-position: bottom;
    background-image: linear-gradient(270deg,var(--secondary) 0%,var(--secondary) 100%);
}

header, [class~=flex-container] {
    display: flex;
}


[class~=page-section] > h2 {
    line-height: 1.1;
}

[class~=flex-container] {
    justify-content: center;
}

.flex-item {
    border-left-width: .3125pc;
    border-bottom-width: .3125pc;
    border-right-width: .3125pc;
    border-top-width: .3125pc;
    border-left-style: solid;
    border-bottom-style: solid;
}

[class~=page-section] > div {
    flex: 0 0 77%;
}

nav a, [class~=contact] address a {
    background-repeat: no-repeat;
}

[class~=page-section] p {
    margin-bottom: .208333333in;
}

p {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

[class~=flex-item] div {
    background-color: var(--secondary);
    padding-top: .5pc;
    padding-bottom: .5pc;
}

nav a {
    transition: all .25s ease-in;
    font-size: 1.4rem;
}

header, .flex-item {
    padding-left: 0;
}

header {
    padding-bottom: 15px;
    padding-right: 6%;
    padding-top: 11.25pt;
}

[class~=flex-item] h3 {
    font-size: 1.6rem;
}

.flex-item {
    border-right-style: solid;
    border-top-style: solid;
    border-left-color: var(--secondary);
    border-bottom-color: var(--secondary);
    border-right-color: var(--secondary);
    border-top-color: var(--secondary);
    border-image: none;
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 112.5pt;
    padding-right: 0;
    padding-top: 0;
    margin-left: .5em;
    margin-bottom: .5em;
    flex-basis: calc(50% - 1em);
    align-items: flex-end;
    padding-bottom: 1.25pc;
    margin-right: .5em;
    margin-top: .5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all .5s;
    font-size: .9rem;
}

[class~=contact] address a {
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-position: bottom;
    background-size: 100% .2em;
    transition: all .25s ease-in;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    padding-right: .052083333in;
    padding-left: .052083333in;
    color: var(--tertiary);
}

header, nav {
    flex-direction: row;
}

nav, [class~=contact] address, .flex-item {
    display: flex;
} 

nav, header, [class~=contact] address {
    flex-wrap: wrap;
}

[class~=contact] address {
    justify-content: space-around;
    height: 100%;
}

header, [class~=contact] address {
    align-items: center;
}

header {
    background-color: #011222;
    box-shadow: 0 5px 35px rgba(146,204,206,.4);
    justify-content: space-between;
}

[class~=flex-item]:first-child {
    min-height: 300pt;
    flex-basis: 100%;
}

[class~=under] {
    background-image: url("../image/image-In-progress.png");
}

[class~=contactus] {
    background-image: url("../image/image-Contact.png");
}

[class~=console] {
    background-image: url("../image/image-Javascript.png");
}

[class~=password] {
    background-image: url("../image/image-Password-Generator.png");
}

[class~=bio] {
    background-image: url("../image/image-Bio.png");
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

[class~=contact] address a {
    margin-left: .2rem;
    margin-bottom: .1rem;
    margin-right: .2rem;
    margin-top: 0;
    display: inline-block;
}

.flex-item:hover {
    background-color: rgba(233, 220, 220, 0.3);
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 980px) {
    header {
        padding-left:0;
        padding-bottom: 7.5pt;
        padding-right: 0;
    }

    [class~=page-section] > div,[class~=page-section] > h2 {
        flex: 0 0 100%;
    }

    header h1 {
        width: 100%;
        padding-left: .052083333in;
        padding-bottom: .052083333in;
    }

    .page-section > h2 {
        border-right-width: medium;
        border-right-style: none;
        border-right-color: currentColor;
        border-image: none;
        border-bottom-width: .25pc;
        border-bottom-style: solid;
        border-bottom-color: var(--primary);
        font-size: 7vw;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
    }

    header {
        padding-top: 0;
        text-align: center;
    }

    header nav,header {
        justify-content: center;
    }


    header h1 {
        font-size: 10vw;
        padding-right: .052083333in;
        padding-top: .052083333in;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    [class~=flex-item],[class~=flex-item]:first-child {
        flex-basis:100%;
    }

    [class~=header] {
        justify-content: center;
        text-align: center;
    }

    [class~=contact] address {
        flex-direction: column;
        align-items: flex-start;
    }

    [class=flex-item]:first-child {
        min-height: 1.5625in;
    }
}
